@model Enpratik.Data.Customers
@{
    ViewBag.Title = "Index";

    var userId = ViewBag.UserID;

}



<div class="section border-bottom pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li> Şifremi Değiştir</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commerce">
                    <h2>Yeni Şifre Tanımlama</h2>
                    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "commerce-login-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="hidden" name="u" value="@userId" />

                        if (ViewBag.ErrorMessage != null)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <font style="color:#ff0000;">
                                        @ViewBag.ErrorMessage
                                    </font>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (Request["m"] == null)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-wrap">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Şifre *" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-wrap">
                                            @Html.Password("passwordAgain", null, new { @class = "form-control", @placeholder = "Şifre Tekrar *" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-wrap">
                                            <input type="submit" value="Gönder">
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-wrap">
                                            <p style="color:#000000">
                                                Şifreniz değiştirilmiştir. <a href="/hesabim/uye-girisi">Üye girişi yapmak için tıklayınız.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>