@model Enpratik.Data.CustomersRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomersRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeShipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeShipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxDisplayTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxDisplayTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxExempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxExempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
