@model Enpratik.Data.Customers
@{
    ViewBag.Title = "Index";
    var userId = ViewBag.UserID;
}

@if (Request["m"] != null)

{
    <section class="login-section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="check">
                        <span class="icon icon-hy-icon-check"></span>
                    </div>
                    <h3 class="text-center">BAŞARILI</h3>
                    <p class="subtitle caption-small-wrapper process-headline">Şifreniz başarı ile değiştirilmiştir. Kutularımıza abone olabilirsiniz.</p>
                    <a href="/" class="btn btn-primary">ANASAYFAYA DÖN</a>
                </div>
            </div>
        </div>
    </section>

}
else
{
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">ŞİFREMİ YENİLE</h3>

                <p class="subtitle caption-small-wrapper process-headline">Hesabınıza giriş yapabilmek için yeni şifrenizi oluşturabilirsiniz.</p>
                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "commerce-login-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" name="u" value="@userId" />

                    <div class="form-group">
                        <label class="form-label">Yeni Şifre</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "yeni şifreni gir" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">Şifre</label>
                        @Html.Password("passwordAgain", null, new { @class = "form-control", @placeholder = "yeni şifreni tekrar gir" })
                    </div>

                    <button type="submit" class="btn btn-primary">GİRİŞ YAP</button>
                }
                

                @if (ViewBag.ErrorMessage != null)
                {
                    <p class="forgot-password-text">

                        <font style="color:#ff0000;">
                            @ViewBag.ErrorMessage
                        </font>
                    </p>
                }

            </div>
        </div>
    </div>
</section>
}