@model Enpratik.Data.Customers
@{
    ViewBag.Title = "Şifremi Unuttum";
}

@if (ViewBag.Success == null)
{
    <section class="login-section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <h3 class="text-center process-headline">ŞİFREMİ UNUTTUM</h3>
                    <p class="subtitle caption-small-wrapper process-headline">Şifreni sıfırlaman için sana bir e-posta göndereceğiz.</p>
                    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", @placeholder = "email adresinizi giriniz", @type = "email" } })
                            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "form-valid" })
                            <!-- email boş ise -->
                        </div>
                        <button class="btn btn-primary" type="submit">GÖNDER</button>
                    }



                    @if (ViewBag.ErrorMessage != null)
                    {
                        <p class="forgot-password-text">

                            <font style="color:#ff0000;">
                                @ViewBag.ErrorMessage
                            </font>
                        </p>
                    }

                    <p class="forgot-password-text">
                        Herhangi bir e-posta almazsan bize <a href="mailto:info@hypadia.com">info@hypadia.com</a> adresinden ulaşabilirsin; gönderildiğinden emin olalım.
                    </p>
                </div>
            </div>
        </div>
    </section>
}
else
{
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="check">
                    <span class="icon icon-hy-icon-check"></span>
                </div>
                <h3 class="text-center">BAŞARILI</h3>
                <p class="subtitle caption-small-wrapper process-headline">Şifrenizi sıfırlamanız için size gelen e-posta içerisindeki bağlantıya tıklayınız.</p>
            </div>
        </div>
    </div>
</section>
}

