@model IEnumerable<Enpratik.Data.PaymentMethodSettings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingDataType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingDataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
