@model IEnumerable<Enpratik.Data.WebSiteUrlSettingDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WebSiteUrlTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebSiteUrlTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlPattern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlPatternDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WebSiteUrlTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebSiteUrlTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlPattern)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlPatternDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
