@model Enpratik.Data.PaymentCreditCards

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentCreditCards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardIcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
