@model Enpratik.Data.ProductBox_Product_Mapping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductBox_Product_Mapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductBoxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBoxId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
