@model Enpratik.Data.Customers

@{
    var basketItems = ViewBag.BasketItems as List<Enpratik.Data.Product_BasketItem>;

    if (basketItems == null)
    {
        basketItems = new List<Enpratik.Data.Product_BasketItem>();
    }

    ViewBag.Title = "Index";

}

    <div class="section border-bottom pt-2 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumbs">
                        <li><a href="/">Anasayfa</a></li>
                        <li>Hesabım</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="section pt-10 pb-10">
        <div class="container">
            <div class="container profile profile-view">
                @if (ViewBag.IsSuccess != null)
                {
                    <div class="row">
                        <div class="col-md-12 alert-col relative">
                            <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Bilgileriniz güncellenmiştir.</span></div>
                        </div>
                    </div>
                }
                @using (Html.BeginForm())
                {
            <input type="hidden" name="id" value="@Model.Id" />
                    <div class="form-row profile-row">
                        <div class="col-md-12">
                            <div class="text-center mb-1 section-pretitle">Hesabım</div>
                            <div class="organik-seperator mb-4 center">
                                <span class="sep-holder"><span class="sep-line"></span></span>
                                <div class="sep-icon"><i class="organik-flower"></i></div>
                                <span class="sep-holder"><span class="sep-line"></span></span>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group"><label>Ad</label><input class="form-control" type="text" value="@Model.FirstName" name="firstname"></div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group"><label>Soyad</label><input class="form-control" type="text" value="@Model.LastName" name="lastname"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group"><label>Email</label><label class="form-control" name="mail">@Model.Mail</label></div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group"><label>Şifre </label>
                                        <a class="form-control"  href="/hesabim/sifremi-unuttum">Şifre değişikliğini buradan yapabilirsiniz</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">Güncelle </button></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div style="margin-top: 64px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center mb-1 section-pretitle">Siparişlerim</div>
                            <div class="organik-seperator mb-4 center">
                                <span class="sep-holder"><span class="sep-line"></span></span>
                                <div class="sep-icon"><i class="organik-flower"></i></div>
                                <span class="sep-holder"><span class="sep-line"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            @if (basketItems.Count == 0)
                            {
                                <label><i class="fa fa-info-circle"></i> Henüz bir siparişiniz bulunmuyor. Ürünlerimize <a href="/urunler">buradan</a> bakıp, sipariş verebilirsiniz</label>
                            }
                            else
                            {
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Alışveriş Tarihi
                                            </th>
                                            <th>
                                                Sipariş Numarası
                                            </th>
                                            <th>
                                                Ödeme Kanalı
                                            </th>
                                            <th>
                                                Sipariş Durumu
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in basketItems)
                                        {
                                            <tr>
                                                <td>
                                                    @{var regDate = item.RegDate.ToString("dd-MM-yyyy HH:mm");}
                                                    @Html.DisplayFor(modelItem => regDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderNumber)
                                                </td>
                                                <td>
                                                    @if (item.PaymentType == 1)
                                                    {
                                                        <strong>Kapıda Ödeme</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong>Kredi Kartı</strong>
                                                    }
                                                </td>
                                                <td>
                                                    @{var statusText = item.GetStatusText();}
                                                    <a class="btn btn-@item.GetStatusButtonCss()"> @Html.DisplayFor(modelItem => statusText)</a>
                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>